h1 {
  text-align: center;
  margin-bottom: 5%;
  padding-top: 5%;
}

.recipe {
  margin: auto;

  width: 80%;
}
.button {
  margin-left: 25%;
}
.footer {
  margin-top: 10%;
}

.logo {
  padding-top:5%;
  
}


.social {
  margin-bottom: -10%;
  margin-left: 20%;

}
form {
  text-align: center;
  margin-left: 10%;
  padding-top:2%;
 
}
.col{
 margin-left: 5%;
}