body {
  font-family: "Montserrat", sans-serif;
}
.main {
  width: 100vw;
}

h2 {
  font-family: "Yaldevi", sans-serif;
}
.about,
.contact {
  font-family: "Yaldevi", sans-serif;
  padding-top: 7%;
  list-style: none;
  color: #6f544c;
}
h3 {
  padding-bottom: -25%;
  padding-right: 5%;
}
a {
  text-decoration: none;
  color: #6f544c;
}
a:hover {
  color: #6f544c;
}
.social {
  margin-bottom: -6%;
  margin-left: -14%;
}
form {
  margin-left: 10%;
}
